{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <h2>Before you start</h2>
    <hr>
    <p>Please read the following pages:</p>
    <ul>
      <li><a href="https://competition.igem.org/">The Competition Page</a></li>
      <li><a href="https://competition.igem.org/deliverables/team-wiki">Wiki Requirements page</a></li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2>Styling your wiki</h2>
    <hr>
    <p>You may style this page as you like or you can simply leave the style as it is. You can easily keep the styling and edit the content of these default wiki pages with your project information and completely fulfill the requirement to document your project.</p>
    <p>While you may not win Best Wiki with this styling, your team is still eligible for all other awards. This default wiki meets the requirements, it improves navigability and ease of use for visitors, and you should not feel it is necessary to style beyond what has been provided.</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Tips And Tricks</h2>
    <hr>
    <p>This wiki will be your team's first interaction with the rest of the world, so here are a few tips to help you get started:</p>
    <ul>
      <li>State your accomplishments! Tell people what you have achieved from the start.</li>
      <li>Be clear about what you are doing and how you plan to do this.</li>
      <li>You have a global audience! Consider the different backgrounds that your users come from.</li>
      <li>Make sure information is easy to find; nothing should be more than 3 clicks away.</li>
      <li>Avoid using very small fonts and low contrast colors; information should be easy to read.</li>
      <li>Start documenting your project as early as possible; don't leave anything to the last minute before the Wiki Freeze. For a complete list of deadlines visit the iGEM 2022 calendar</li>
      <li>Have lots of fun!</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspiration</h2>
    <hr>
    <p>You can also view other team wikis for inspiration! Here are some examples:</p>
    <ul>
      <li><a href="https://2019.igem.org/Team:Vilnius-Lithuania">2019 Vilnius Lithuania</a></li>
      <li><a href="https://2019.igem.org/Team:NUS_Singapore">2019 NUS Singapore</a></li>
      <li><a href="https://2019.igem.org/Team:Lambert_GA">2019 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Waterloo">2020 Waterloo</a></li>
      <li><a href="https://2020.igem.org/Team:TUDelft">2020 TUDelft</a></li>
      <li><a href="https://2020.igem.org/Team:XMU-China">2020 XMU China </a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei">2020 TAS Taipei </a></li>
    </ul>
  </div>
</div>

{% endblock %}
